Source: deepin-wallpapers
Section: misc
Priority: optional
Maintainer: Arun Kumar Pariyar <expertaruncorp@gmail.com>
XSBC-Original-Maintainer: Deepin Packages Builder <packages@deepin.com>
Uploaders: Arun Kumar Pariyar <expertaruncorp@gmail.com>
 Joshua Peisach <itzswirlz2020@outlook.com>
Build-Depends: debhelper (>=12), dde-api, imagemagick-6.q16
Standards-Version: 4.4.0
Rules-Require-Root: no
Homepage: https://github.com/UbuntuDDE
Vcs-Browser: https://github.com/UbuntuDDE/deepin-wallpapers
Vcs-Git: https://github.com/UbuntuDDE/deepin-wallpapers.git

Package: deepin-wallpapers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks: deepin-desktop-base (<< 2017.11.2)
Description: Default wallpapers for dde
